<html>
	<head>
	    <title>{{ location['mspace'] }} - Makerspace </title>
	</head>
	<body>
	  <h1>Welcome to {{ location['mspace'] }} </h1>
	</body>

	<script>

	function httpGet(theUrl)
	{
		       var xmlHttp = new XMLHttpRequest();
		       xmlHttp.open( "GET", theUrl, false );
		       xmlHttp.send(null);
		       return xmlHttp.responseText;
	}

	var refreshIntervalId = setInterval(function(){checkFunc()}, 1000);

	function checkFunc(){
		var json = httpGet("/getSignIn");
			console.log("yes!");
	    	obj = JSON.parse(json);
	    	console.log("new checkin = "+obj.newCheckin);
	    	console.log("MemberID = "+obj.MemberID);
	    	console.log("IsMember? "+obj.isMember);
	    	if(obj.newCheckin){
	    		clearInterval(refreshIntervalId);
	    		checkUser(obj.isMember, obj.memberID);
	    	}
	}
	
	function checkUser(isMember, memberID){
		if(isMember == false){
			window.location = "signup";
		}
		else{
			window.location = "activity";
		}
		//memCheck = new XMLHttpRequest();
		//memCheck.open("POST", "/index", false);
		//memCheck.send();
		//console.log(memCheck.responseText);
		// var memberCheck = obj.isMember;
		// console.log(memCheck);
		//console.log("success");
	}


  </script>
</html>