<html>
	<head>
	    <title>{{ location['mspace'] }} - Makerspace </title>
	</head>
	<body>
	  <h1>Welcome to [LIBRARY] </h1>
	</body>

	<script>

	function httpGet(theUrl)
	{
		       var xmlHttp = new XMLHttpRequest();
		       xmlHttp.open( "GET", theUrl, false );
		       xmlHttp.send(null);
		       return xmlHttp.responseText;
	}

	setInterval(checkFunc(), 1000);

	function checkFunc(){
		var json = httpGet("/getSignIn");
			console.log("yes!");
	    	obj = JSON.parse(json);
	    	console.log(obj.newCheckin);
	    	if(obj.newCheckin){
				alert("Running");
	    		// window.location.replace("http://127.0.0.1:5000/activity");
	    		checkUser()
	    	}
	    	else{
	    		setInterval(checkFunc(), 1000);
	    	}
	}
	
	function checkUser(){
		var memberCheck = "{{user}}";
		console.log(memberCheck);
		console.log("success");
	}


  </script>
</html>