<html>
	<head>
      	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script type=text/javascript src="{{url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <title>This is a - Makerspace </title>
	</head>
	<body>
	  <h1>You need to sign up</h1>
	
	<div>
	<form accept-charset="UTF-8" action="https://hidden-springs-6751.herokuapp.com/members" onsubmit="subRedirect()" class="new_member" id="new_member" method="post">
    	<input id="member_MemberID" name="member[MemberID]" size="30" type="hidden" value ="{{newMemberID}}" />
  	<div class="field">
    	<label for="member_name">Nick Name</label><br />
    	<input id="member_name" name="member[name]" size="30" type="text" />
  	</div>
  	<div class="field">
    	<label for="member_ZipCode">Zipcode</label><br />
    	<input id="member_ZipCode" name="member[ZipCode]" size="30" type="text" />
  	</div>
  	<div class="actions">
    	<input id="member_submit" name="commit" type="submit" value="Submit" />
  	</div>
	</form>
	</div>
	
	<script>
	function subRedirect(){
    	   window.location = "index";
	}
	</script>

	</body>
	
</html>
